* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 320px;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  p, h2 {
    margin: 23px 0;
  }
  
  h2 {
    font-weight: 700;
    font-size: 20px;
  }
  
  label p {
    margin: 6px 0 23px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  label {
    display: block;
  }
  
  .form-section {
    margin-bottom: 15px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
  }
  
  .button-section {
    padding: 0 0 0 15px;
  }
  
  
  .dream-type-section label {
    display: inline;
  }
  
  .dream-type-explanation {
    font-size: 14px;
  }
  
  .dream-entry {
    min-height: 0;
  }
  
  .dream-entry header {
    padding: 0;
  }
  
  .dream-entry header h3 {
    margin: 0;
  }
  
  .dream-description {
    text-align: left;
    margin-bottom: 30px;
  }
  
  .dream-stat {
    color: blue;
  }

  /* select {
    padding: 10px;
    width: 80%;
    font-size: 20px;
  } */

  select, input {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
  }

  label {
    color: #7b7a7a;
    margin-bottom: 5px;
  }

  .list {

    text-align: left;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 6px 10px 35px;
    /* margin-left: 10px; */
    margin: 10px;
    margin-bottom: 25px;

  }

  .add-player{
    color: #000;
  }

  .create-form {
    text-align: left;
    padding: 10px;
  }

  .form-submit{
    margin-bottom: 50px;
  }