* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  

  .block-btn {
    width: 80%;
  }

  .player-text{
    color: #000;
  }

  .head-title {

    margin-bottom: 0px;

  }

  .head-sub-title {
    margin-top: 0px;
    font-weight: 300;
}

  
@media all and (min-width: 800px) {
  .head-p-title {
    margin-top: 0px;
    font-size: 17px;
    display:inline-flex;
    margin: 0;
    
}
}

.game-head {
    text-align: left;
    padding-left: 10px;

}

.game-title {

  margin-bottom: 5px;

}

.list-head {

  margin: 10px;
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;

}

.list-main-head{

  margin-bottom: 0px;

}

.list-sub-head {

  margin-top: 0px;

}

.form {

  text-align: center;

}

.player {
  color: #000  !important;
}