* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #469ef3;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  /* header {
    padding: 12% 0;
  } */
  
  section {
    min-height: 200px;
    padding: 6% 0;
    /* background-color: #bbb; */
  }
  
  /* section:nth-child(even) {
    background-color: #ddd;
  } */

  .no-link {
    text-decoration: none;
    color: #fff;
  }

  .main {
    background-color:#fff !important;
  }
  

  .container-box{
    margin: 25px;
    border-radius: 10px;
    padding: 8px;
    /* position: relative; */
    /* margin: auto; */
    background-image: linear-gradient(to bottom, #f2b900, #ebb400, #e5af00, #deaa00, #d8a500);
  }

  .main-header{
    background-color: black !important;
  }