* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  dream-description::before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "here"
  }

  .list-item {

    background-color: #FFF;
    padding: 15px;
    padding-left: 35px;

  }

  .my-player{

    text-align: left;
    margin: 10px;
    color: #000 !important;
  }

  .sort-head {

    background-color: #fff;
    padding: 14px;
    border-radius: 10px;

  }

  .sort-select {

    border-radius: 5px;
    width: 100%;
    border-color: #dadada;

  }

  .game-head{

    color: #7b7a7a;
    margin-bottom: 0px;

  }

  .game-sub-head {

    margin-top: 5px;
    color: #7b7a7a;
    margin-left: 10px;

  }

  .btn-footer {

    background-color: #fff;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 50px;

  }

  
  